body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 92px;
    top: 0px;
    left: 0px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulos {
    display: flex;
    flex-direction: column;
    margin-left: 31px;
}

.titulos a:nth-child(1) {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
}

.titulos a:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.opcao-titulo {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 26px;
    line-height: 50px;
    margin-top: 20px;
}

.main {
    margin-top: 100px;
    margin-bottom: 120px;
}

.opcao {
    display: flex;
    flex-direction: column;
}

.prato, .bebida, .sobremesa {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    z-index: 1;
}

.prato button, .bebida button, .sobremesa button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.prato button.selecionado, .bebida button.selecionado, .sobremesa button.selecionado {
    border: 5px solid green;
}

.imagem-produto {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.descricao-produto {
    width: 144px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    line-height: 30px;
}

.nome-produto {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.detalhes-produto {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #A6A6A6;
}

.preco-produto {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.rodape {
    width: 100%;
    height: 92px;
    position: fixed;
    z-index: 2;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
}

.botao-rodape {
    text-align: center;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
}

.botao-rodape-pronto {
    text-align: center;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    border: 0px;
    background-color: #32B72F;
}

.botao-rodape a {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.botao-rodape-pronto a {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.icone {
    position: relative;
    top: 10px;
    left: 60px;
    color: #32B72F;
}

.escondido {
    display: none;
}
