body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 92px;
    top: 0px;
    left: 0px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho a:nth-child(1) {
    display: flex;
    margin-left: 31px;
    line-height: 65px;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
}

.cabecalho a:nth-child(2) {
    display: flex;
    margin-left: 31px;
    line-height: 5px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.opcao-titulo {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 26px;
    line-height: 50px;
    margin-top: 20px;
}

.main {
    margin-top: 100px;
    margin-bottom: 100px;
}

.opcao {
    display: flex;
    flex-direction: column;
}

.produtos {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll
}

.produtos button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 172px;
    height: 216px;
    cursor: pointer;
    border: 5px solid white;
    border-radius: 9px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.imagem-produto {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.descricao-produto {
    width: 144px;
}

.descricao-produto a:nth-child(1) {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.descricao-produto a:nth-child(2) {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #A6A6A6;
}

.descricao-produto a:nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.rodape {
    width: 100%;
    height: 92px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
}

.botao-rodape {
    text-align: center;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
}

.botao-rodape a {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.selecionado {
    border: 10px solid green;
}

.titulo {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    line-height: 22px;
}

.descricao {
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #A6A6A6;
}

.preco {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 22px;
}

ion-icon {
    color:green;
}
